<div id="about" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center">
          <img src="{{ site.baseurl }}static/img/mapnificent_big.png" alt="Mapnificent" class="img-responsive"/>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Mapnificent shows you the area you can reach with public transport from any point in a given time. It is available for major cities in the US and world wide.
        </p>
        <p>
          This is the new version of Mapnificent with many missing features!
          <a href="https://github.com/stefanw/mapnificent">Find the source on GitHub and help out!</a>
        </p>
        <p>
          You may be interested to watch a <a href="http://vimeo.com/16362921">video about what Mapnificent can do</a> or read a <a href="http://blog.stefanwehrmeyer.com/post/1448498820/a-mapnificent-world">blog post about how Mapnificent works</a>.
        </p>
        <p>
          Mapnificent was originally inspired by MySociety's <a href="http://mapumental.channel4.com">Mapumental</a>.
        </p>
        <address id="contact">
          <p>Mapnificent was created by <a class="url" href="http://stefanwehrmeyer.com" title="Stefan Wehrmeyer"><span class="given-name">Stefan</span> <span class="family-name">Wehrmeyer</span></a>.</p>
          <p>
            <a class="email" href="mailto:mail@mapnificent.net">mail@mapnificent.net</a>
          </p>
          <p class="adr">
            <span class="street-address">Leinestr. 33</span>,
            <span class="postal-code">12049</span> <span class="locality">Berlin</span>,
            <span class="country-name">Germany</span>
          </p>
        </address>
        <p>
          Follow <a href="http://twitter.com/mapnificent">@mapnificent on Twitter!</a>
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
