<div id="terms-of-use" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Terms of Service</h4>
      </div>
      <div class="modal-body">

<h5>Warranties</h5>
<strong>There are no warranties. The underlying data is generated automatically and the service is based on heuristics. Do not rely on this service.</strong>
<p>The user agrees that the service is provided "as is" and "as available" without any warranty of any kind, express or implied, including, without limitation, the implied warranties of merchantability, fitness for a particular purpose, accuracy and noninfringement. The site's owner does not warrant that the service will be available at any given time, secure, accurate, or free of errors. The user uses the service at his or her own risk and assumes the risk that the service may provide incorrect information.</p>

<p>The user shall indemnify, defend, and hold harmless the site's owner and the site's public transport data providers from and against all fines, suits, proceedings, claims, causes of action, demands, or liabilities of any kind or of any nature arising out of or in connection with the use of this service or this agreement.</p>

<h5>Copyrights</h5>
<p>The data that this service is using is protected under copyright law. The copyright owners of the currently used data are listed where appropriate. Trademarks belong to their rightful owners.</p>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->