<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Mapnificent - Dynamic Public Transport Travel Time Maps</title>

    <link rel="icon" type="image/png" href="{{ site.baseurl }}static/img/favicon.png" />
    <link href="{{ site.baseurl }}static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="{{ site.baseurl }}static/vendor/leaflet/dist/leaflet.css">
    <link href="{{ site.baseurl }}static/css/screen.css" rel="stylesheet" type="text/css" media="screen,projection" />

    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Mapnificent Isochrone Maps Travel Time Public Transport" />
    <meta name="description" content="Mapnificent shows you areas you can reach with public transport in many cities all over the world." />
    <script src="{{ site.baseurl }}static/vendor/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
      var Mapnificent_cities = (function(){
        var cities = [
          {% for city in site.cities %}
          {% unless page.cityid == city.cityid %}
          {name: "{{ city.cityname }}",
          cityid: "{{ city.cityid }}",
          lat: {{ city.lat }},
          lng: {{ city.lng }}
          },{% endunless %}
          {% endfor %}
          null
        ];
        cities = cities.slice(0, cities.length - 1);
        return cities;
      }());
    </script>
  </head>
  <body>

    {{ content }}

   <script src="{{ site.baseurl }}static/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-15128105-1', 'auto');
     ga('send', 'pageview');

   </script>

  </body>
</html>
